

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden{
    display: none;
}
.display-flex{

    display: flex;
}

/* nav style */
header{
    background-color: #1A0B2E;
    
}
.nav-container{
    justify-content: space-between;
    padding: 20px 180px;
}
.nav-container .nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #ffffff;
}
.nav-title .Wave{
    color: #c405d7; 
    /* color: linear-gradient( #f7e940, #c405d7 ); */
    
}
.nav-menu{
    margin-top: 15px;
}
.nav-menu .nav-menus {
    align-items: center;
    list-style: none;
    gap: 30px;
}
.nav-menus li a{
text-decoration: none;
font-size: 1rem;
color: #ffffff;
font-weight: 600;
}
.btn{
    
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, #f7e940 3%, #c405d7 90%);
}
/* nav collapse style */
.nav-collapse{
    padding: 20px 180px;
    justify-content: space-between;
}
.nav-collapse .nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #ffffff;
}
.nav-collapse img{
    width: 30px;
    height: 30px;
}
/* hero style */

.hero-banner{
    
    background-image: url(assets/hero-bg.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  justify-content: center;
 align-items: center;
  height: 700px;
    width: 100%;
   

}
.hero-banner .img1{
bottom: 100px;
 width: 100%;
background-position: center;
position: relative;
}
.hero-banner .img2{
    position: absolute;
    width: 200px;
    height: 220px;
    /* top: 30%;
    left: 44%; */
    transform: translate(-300px);

}
.btn2{
    padding:8px 15px;
    background-color: #00ff88;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    left: 360px;
    z-index: 2;
}
/* header content */
.heder-content{
    background-color: #1A0B2E;
    text-align: center;
    margin-top: -170px;
        margin-bottom: 100px;
        padding-top: 40px;
}
.heder-content h2{
    font-size: 3.8rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 5px;
}
.heder-content p{
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 10px;
}
.heder-content .btn3{

    padding: 10px 20px;
    background-color: transparent;
    color: #00ff88;
    border: 1px solid #00ff88;
    border-radius: 50px;
    margin-left: 5px;
}
/* about style */
.about{
    margin-top: -100px;
    padding: 100px 180px;
    background-color: #1a0b2e;
}
.about .about-content{
    text-align: center;
    padding-bottom: 60px;
    border-bottom: 1px solid #ffffff;
}
.about-content h2{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
}
.about-content p{
    font-size: 1rem;
    color: #ffffff;
    line-height: 28px;
}
.about-rating{
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}
.rating{
    text-align: center;

}
.rating h4{
    font-size: 3rem;
    font-weight: bold;
    color: #00ff88;
    margin-bottom: 15px;
}
.rating{
    font-size: 1rem;
    color: #ffffff;
    text-transform: uppercase;
}
/* choose section */
.choose{
    background-color: #230e3d;
    padding: 100px 180px;
}
.choose h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
}
.choose-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}
.card-small{
    grid-column: span 1;
    grid-row: span 2;
}
.card-medium{
    grid-column: span 2;
    grid-row: span 1;
}
.card{
    background-color: #2a0f4d;
    border-radius: 20px;
    
}
.card img{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}
.card h4{
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 20px;
}
.card p{
    font-size: 1rem;
    color: #ffffff;
    line-height: 28px;
}
.card1{
    padding: 100px 20px;
    
}
.card2, .card3, .card4, .card5{
    padding: 20px;
}

/* featured style */
.featured{
    background-color: #1a0b2e;
    padding: 100px 180px;
}
.featured h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}
.feature-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 30px;
}
.feature-card iframe{
    display: flex;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
}
.feature-card{
   
    background-color: #250d44;
    border-radius: 10px;
   padding: 10px;
}
.feature-card img{
    justify-content: center;
    width: 20px;
    height: 20px;
}
.featured-title {
    font-size: 1.50rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
}
.feature-des{
    font-size: 1rem;
    color: #ffffff;
    line-height: 28px;
    margin-bottom: 10px;
}
.par-num{
    font-size: 1rem;
    color: #00ff88;
    margin-left: 5px;
}
.par-num img{
    vertical-align: -4px;
}
/* host title */
.host{
     padding: 100px 180px;
    background-color: #1a0b2e;;
}
.host .host-container{
    border-radius: 16px;
   background-color: #250d44;
   padding: 20px;
    align-items: center;
    gap: 30px;
}
.host-title{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
}
.host-des{
    font-size: 1rem;
    color: #ffffff;
    line-height: 28px;
    margin-bottom: 10px;
}

 .hot-socil{
   
    list-style: none;
    gap: 30px;
 } 
 .hot-socil li{
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-align: center;
   
 } 
 .hot-socil li img{
    margin-top: 5px;
 }

/* footer style */
.footer{
    /* margin: 0 auto; */
    background-color: #201144;
    background-image: url(assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 100px 180px;
    height: 450px;
}
.footer-content h2{
    font-size: 4rem;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.fotter-title{
    color: #ffffff;
}
.footer-wave{
    color: #c405d7;
}
.fotter-list{
    max-width: 35%;
   margin: 0 auto;
   text-align: left;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;
   list-style: none;
}
.fotter-list li a{
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
}
.fotter-list li a img{
    vertical-align: -2px;
    margin-right: 5px;
}
.fotter-rihgt{
    text-align: center;
    font-size: 0.8rem;
    color: #ffffff;
    font-weight: 700;
    margin-top: 40px;
}


/* Responsiveness for large device */
@media screen and (min-width: 577px){
    .nav-collapse{
        display: none;
    }
}

/* Responsiveness small device*/
@media screen and (max-width: 576px){

  .nav-container{
    display: none;
  } 
  .nav-collapse{
    padding: 20px;
  }
   
 .hero-banner .img1{

 width: 70%;

}
.hero-banner .img2{
    width: 150px;
    height: 170px;
    transform: translate(-220px, -50px);
   

}
.btn2{
top: -350px;
left: 300px;
    z-index: 2;
}
.heder-content{
    padding: 20px;
}
.about{
    padding: 20px;
}
.about-rating{

    grid-template-columns: repeat(2, 1fr);
   
}
.choose{
    padding: 20px;
}
.choose h2{
    font-size: 2rem;
}
.choose-card{
    
   
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(1, 1fr);
    
}
.card-small{
    grid-column: span 1;
    grid-row: span 1;
}
.card-medium{
    grid-column: span 1;
    grid-row: span 1;
}
.featured{
    padding: 20px;
}
.featured h2{
    font-size: 2rem;
}
.feature-cards{
    
    grid-template-columns: repeat(1, 1fr);

}
.host{
    padding: 20px;
}
.host-container{
    flex-direction: column;
}
.footer{
    padding: 20px;
}
.fotter-list{
    max-width: 50%;
    grid-template-columns: repeat(2, 1fr);
}
    
}
