

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}

/* share style */
.display-flex{

    display: flex;
}

/* nav style */
header{
    background-color: #1A0B2E;
    
}
.nav-container{
    justify-content: space-between;
    padding: 20px 180px;
}
.nav-container .nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #ffffff;
}
.nav-title .Wave{
    color: #c405d7; 
    /* color: linear-gradient( #f7e940, #c405d7 ); */
    
}
.nav-menu{
    margin-top: 15px;
}
.nav-menu .nav-menus {
    align-items: center;
    list-style: none;
    gap: 30px;
}
.nav-menus li a{
text-decoration: none;
font-size: 1rem;
color: #ffffff;
font-weight: 600;
}
.btn{
    
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, #f7e940 3%, #c405d7 90%);
}

.hero-banner{
     /* padding-top: 150px; */
    background-image: url(assets/hero-bg.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  justify-content: center;
 align-items: center;
 /* position: relative; */
   
  height: 700px;
    width: 100%;
    /* height: auto; */

}
.hero-banner .img1{
bottom: 100px;
 
 
  background-position: center;
    position: relative;
}
.hero-banner .img2{
    position: absolute;
    
    width: 200px;
    height: 220px;
    top: 30%;
    left: 45%;

}
.btn2{
    padding:8px 15px;
    background-color: #00ff88;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    left: 360px;
    z-index: 2;
}
/* header content */
.heder-content{
    /* background-color: #190e38; */
    text-align: center;
    margin-top: -170px;
}
.heder-content h2{
    font-size: 3.8rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 5px;
}
.heder-content p{
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 10px;
}
.heder-content .btn3{
    padding: 10px 20px;
    background-color: transparent;
    color: #00ff88;
    border: 1px solid #00ff88;
    border-radius: 50px;
    margin-left: 5px;
}